@model ProblemSetTwoViewModel
@{
    ViewData["Title"] = "Problem Set Two";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div class="container">

    @using (Html.BeginForm("ProblemSetTwo", "ProblemSet", FormMethod.Post))
    {

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.NumberOne, new { @class = "form-label" })
                    @Html.EditorFor(model => model.NumberOne, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumberOne, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NumberTwo, new { @class = "form-label" })
                    @Html.EditorFor(model => model.NumberTwo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumberTwo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="submit" value="Add The Numbers" id="btnSubmit" />
            </div>
        </div>

    }

    @if (Model.Sum != null)
    {
        <div class="row">
            <div class="col-md-4">
                <p>The sum of the numbers is @Model.Sum.Value.ToString()</p>
            </div>
        </div>
    }

</div>

